[Unit]
Description=Payshares Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/paysharesd --conf=/etc/paysharesd/paysharesd.cfg
 
[Install]
WantedBy=multi-user.target
